<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kundy.cranberry.mapper.CbUserMapper">

    <select id="listBlackUserId" resultType="java.lang.Integer">
        SELECT id FROM jb_user WHERE isBlack = 1
    </select>

    <insert id="save" parameterType="com.kundy.cranberry.model.po.CbUserPo">
        INSERT INTO
        jb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="password != null">password,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="password != null">#{password},</if>
        </trim>
    </insert>

</mapper>